{% extends 'layouts/base.html' %}
{% block title %}All Products{% endblock %}



{% block content %}
<main class="main-all-products">
    <section class="section-1-allproducts">
        {% for product in products %}
        <a href="/{{product.slug}}">
            <div class="card">
                <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.brand}}</p>
                    <p class="card-price">${{product.price|floatformat:2}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </section>
</main>
{% endblock %}