{% extends 'layouts/base.html' %}
{% block title %}Recent Products{% endblock %}

{% block content %}
<main class="main-all-recent-product">
    <section class="section-1-recent-product">
        {% for recent in recents %}
        <a href="/{{recent.slug}}">
            <div class="card">
                <img src="{{recent.image.url}}" class="card-img-top" alt="{{recent.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{recent.name}}</h5>
                    <p class="card-text">{{recent.brand}}</p>
                    <p class="card-price">${{recent.price|floatformat:2}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </section>
</main>
{% endblock %}